# Terraform input variables
TF_VAR_allowed_ip_address=37.114.148.42
TF_VAR_sql_admin_password=REPLACE_WITH_STRONG_PASSWORD

# Optional: set explicitly if you do not want Terraform to use
# the default subscription selected by Azure CLI.
# ARM_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
